*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 600px;
}

h1 {
  margin: 0;
  padding: 0;
}

header {
  background-color: aqua;

  padding-inline: 2rem;
  padding-block: 1rem;
}

main {
  background-color: snow;

  padding-inline: 2rem;
  padding-block: 1rem;
}

.filter {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;
}

form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
}

#todo-list {
  list-style-type: none;
  padding: 0;
}
